section.advantages
    .advantages__wrapper.slider
        h2.advantages__title.visually-hidden Наши преимущества
        input#advantages-input-1.slider__input(type='radio', name='advantages', checked='')
        input#advantages-input-2.slider__input(type='radio', name='advantages')
        input#advantages-input-3.slider__input(type='radio', name='advantages')
        ul.advantages__items
            li.advantages__item.advantages__item--fast.slider__item
                h3.advantages__item-title Быстро
                p
                    | Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной
                    | стрижки-минутки
                p
            li.advantages__item.advantages__item--cool.slider__item
                h3.advantages__item-title КРУТО
                p
                    | Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино.
                    br
                    |                     Во всяком случае внешне.
                p
            li.advantages__item.advantages__item--expensive.slider__item
                h3.advantages__item-title ДОРОГО
                p
                    | Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт
                    | определённый статус?
                p
        .advantages__toggles.slider__toggles
            label.slider__toggle(for='advantages-input-1') 1
            label.slider__toggle(for='advantages-input-2') 2
            label.slider__toggle(for='advantages-input-3') 3