footer.page-footer
    .page-footer__wrapper
        p.page-footer__contacts
            b Барбершоп «Бородинский»
            br
            |             г. Киев, ул. Народная 19/8
            br
            a(href='tel:+380671111111')
                span.page-footer__contacts-hidden Тел.:
                |  +38 067 1111111
        p.page-footer__social
            span.social-links
                a.social-link.social-link--vk(href='https://vk.com') Мы в Вконтакте
                a.social-link.social-link--fb(href='https://www.facebook.com') Мы в Фейсбуке
                a.social-link.social-link--in(href='https://www.instagram.com') Мы в Инстаграме
        p.page-footer__copyright
            | Разработано:
            a.btn.page-footer__copyright-link(href='https://dymonius.github.io') Dymonius