section.stats
    header.stats__header
        h2.stats__title.visually-hidden Статистика Барбершопа
        b.stats__slogan
            | Стрижка у нас
            br
            |  это выгодно!
        p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
        small.stats__legend.stats__legend--top
            sup *
            |  — приведённые данные ложь
    table.stats__items
        tr
            td.stats__value
                | 500
                sup *
            td.stats__field
                | гривен
                br
                |  вложений
        tr
            td.stats__value 7200
            td.stats__field
                | секунд
                br
                |  времени мастера
        tr
            td.stats__value 90 000
            td.stats__field
                | подстриженых
                br
                |  волос
        tr
            td.stats__value
                | 500 000
                sup *
            td.stats__field
                | лайков
                br
                |  и комплиментов
    small.stats__legend.stats__legend--bottom
        sup *
        |  — приведённые данные ложь