.stats {
  @include container();
}

.stats__header {
  min-height: 130px;
  padding: 27px 38px 26px 38px;
}

.stats__items {
  height: 320px;
}

@media (min-width: $tablet-width) {
  .stats {
    position: relative;
    z-index: 1;

    margin-top: -184px;
  }
  .stats__header {
    @include clearfix();
    padding: 0;
    padding-top: 31px;
    padding-bottom: 24px;
  }
  .stats__items {
    @include clearfix();
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .stats{
    @include clearfix();
    margin-top: -159px;
  }
  .stats__header {
    float: left;
    width: 240px;
    min-height: 263px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__items {
    float: left;
    display: block;
    width: 640px;
  }
}